{% extends 'base.html' %}
{% block title %} Change password {% endblock %}

{% block content %}
 <section class="contact-section spad">
    <section class="feature-recipe" style="padding-top: 0px;padding-bottom: 5px;background-color: transparent;">
        <div class="section-title">
            <h5><i class="fa fa-lock" style="font-size: large;"></i>&nbsp;Change password </h5>
        </div>
    </section>
    <div class="container">
    <br><br>
    <div class="col-lg-6">
        <form action="{{ request.url }}" method="POST" class="contact-form" >
            <br>
            <h3>Enter your new password</h3>
            <br>
            <div class="text-center col-lg-12">
                <img alt src="{{url_for('static',filename='images/reset-password-pana.svg')}}"  style="width:75%" />
            </div>
            <input type="password" name="new_password" placeholder="New Password" required>
            <input type="password" name="confirm_new_password" placeholder="Confirm new Password" required>
            <button type="submit" class="w-100 my-3">Change Password</button>
            <div align="center" valign="center" class="col-12 Divloading my-3">
                <img alt="" src="{{url_for('static',filename='images/ajax_loader_smal_black.gif')}}" />
            </div>
        </form>
    </div>
       
    </div>
</section>

{% endblock %}

{% block scripts %}
   
{% endblock %}