venv/
.venv/

*.pyc
__pycache__/
app/__pycache__/
instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
api_key.py
admin_identifications.py
google_client_secret.json

# Flask session files
flask_session/

# Local API cache
app/cache/

# Environment variables
.env

# IDE
.idea/
