{% extends 'base.html' %}
{% block title %} {{recipe.name}} {% endblock %}

{% block meta %}
<meta property="og:type"        content="website">
<meta property="og:title"       content="{{recipe.name}} - Quick Recipe">
<meta property="og:description" content="{{recipe.description or 'Discover this recipe on Quick Recipe.'}}">
<meta property="og:image"       content="{{recipe.thumbnail_url}}">
<meta property="og:url"         content="{{request.url}}">
<meta name="twitter:card"       content="summary_large_image">
<meta name="twitter:title"      content="{{recipe.name}} - Quick Recipe">
<meta name="twitter:description"content="{{recipe.description or 'Discover this recipe on Quick Recipe.'}}">
<meta name="twitter:image"      content="{{recipe.thumbnail_url}}">
{% endblock %}

{% block content %}

     <!-- Single Recipe Section Begin -->
 <div style="padding: 20px;">
    <a id="back" href="#"><i class="fa fa-arrow-circle-left" style="color: #e59038;font-size: 30px;"></i>&nbsp;<span style="text-decoration: none;color: black;font-weight: 700;font-size: 30px;">Go Back</span></a></li>
 </div>
 <div id="page_print">
    <section class="single-page-recipe spad">
        <div class="recipe-top">
            <div class="container-fluid text-center">
                <div class="recipe-title" >
                    <h2>{{recipe.name}}</h2>
                    <ul class="tags">
                        {% if recipe.tags  %}
                            {%for tag in  recipe.tags%}
                            <li>{{tag.display_name.replace('_',' ')}}</li>
                            {% endfor %}
                        {% else %}
                            <li>Recipe</li>
                        {% endif %}
                    </ul>
                </div>
            <div class="container set-bg" style="background-color:#F5F6FA;padding:0px;" data-setbg="{{recipe.thumbnail_url}}">
                <div style="width:100%;backdrop-filter: blur(5px);">
                    <img src="{{recipe.thumbnail_url}}" style="width:540px;padding:0px;" alt="">
                </div>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="ingredients-item">
                        <div class="intro-item">
                            {% if recipe.renditions  %}
                            <img src="{{recipe.renditions[0].poster_url}}" style="width:122px;height:122px;border-radius:50%;" alt="">
                            {% else %}
                            <img src="{{recipe.thumbnail_url}}" style="width:122px;height:122px;border-radius:50%;" alt="">
                            {% endif %}
                            <h2 class="text-center">{{recipe.name}}</h2>
                            <div class="rating">
                            {% if recipe.user_ratings  %}
                                    {% set score = (recipe.user_ratings.score * 5) | round | int %}
                                    {% if score == 0 %}
                                        <i class="fa fa-star-o"></i>
                                    {% else %}
                                        {% for star in generate_float_range(0, score) %}
                                        <i class="fa fa-star"></i>
                                        {% endfor %}
                                    {% endif %}
                                    {% for star in generate_float_range(0, 5 - score) %}
                                    <i class="fa fa-star-o"></i>
                                    {% endfor %}
                            {% endif %}
                            </div>
                                <div class="reviews">
                                    {% if recipe.user_ratings  %}
                                        {% set score = (recipe.user_ratings.score * 5) | round(1) %}
                                        {{ score }}/5 from {{recipe.user_ratings.count_negative + recipe.user_ratings.count_positive}} reviews
                                    {% endif %}
                                </div>
                            <div class="recipe-time">
                                <ul>
                                    {% if recipe.prep_time_minutes  %}
                                        <li>Prep time: <span>{{ recipe.prep_time_minutes }} min</span></li>
                                    {% endif %}
                                    {% if recipe.cook_time_minutes  %}
                                        <li>Cook time: <span>{{ recipe.cook_time_minutes }} min</span></li>
                                    {% endif %}
                                    {% if recipe.num_servings  %}
                                        <li>Yield: <span>{{ recipe.num_servings }}</span></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="ingredient-list">
                            <div id="link_feature" class="recipe-btn text-center">

                                {% if g.user %}
                                    <a  style="cursor: pointer;" id="print-pdf" data-pdf-name="{{recipe.name}}" class="printpdf"><i class="fa fa-print text-white"></i>&nbsp;&nbsp;Print Recipe</a>
                                    <a href="#" class="black-btn pin-recipe" data-obj="{{obj_to_json(recipe)}}"><i class="fa fa-heart {% if g.user.is_favorite(recipe.id) %} text-danger {% else %} text-white  {% endif %}"></i>&nbsp;&nbsp;{% if g.user.is_favorite(recipe.id) %}Unpin Recipe{% else %}Pin Recipe{% endif %}</a>
                                {% else %}
                                    <a href="#" data-toggle="modal" data-target="#alertModal"><i class="fa fa-print text-white"></i>&nbsp;&nbsp;Print Recipe</a>
                                    <a href="#" data-toggle="modal" data-target="#alertModal" class="black-btn"><i class="fa fa-heart text-white"></i>&nbsp;&nbsp;Pin Recipe</a>
                                {% endif %}
                            </div>
                            <div id="social_media">
                                <p>
                                    <i class="fa fa-share-alt fa-1x"></i>&nbsp;&nbsp;<span style="font-weight: 700;">Share with:</span>
                                </p>
                                <div class="d-flex" style="gap: 8px;">
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.url }}" target="_blank" rel="noopener" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/intent/tweet?url={{ request.url }}" target="_blank" rel="noopener" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.url }}" target="_blank" rel="noopener" class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="list-item">
                                <h5>Ingredients</h5>
                                {%if recipe.sections  %}
                                    {%for section in recipe.sections %}
                                            <div class="salad-list">
                                                {%if section.name  %}
                                                <h6>{{section.name}}</h6>
                                                {% endif %}
                                                <ul>
                                                    {%if section.components %}
                                                        {%for component in section.components %}
                                                        <li>{{component.raw_text}}</li>
                                                        {% endfor%}
                                                    {% endif %}
                                                </ul>
                                            </div>
                                    {% endfor%}
                                {% else %}
                                <ul>
                                    <li>No Ingredients</li>
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="nutrition-fact">
                        <div class="nutri-title">
                            <h6><span style="color:#e59038"><i class="fa fa-star"></i>&nbsp;Credits</span></h6>
                            <span>{{ recipe.yields }}</span>
                        </div>
                        <ul>
                            {%for author in recipe.credits %}
                            <li><span style="color:#e59038">[</span> {{ author.name }} <span style="color:#e59038">]</span></li>
                            {% endfor%}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="recipe-right">
                        <div class="recipe-desc">
                            <h3>Description</h3>
                            {%if recipe.description%}
                            <div class="set-html" data-html="{{recipe.description}}"></div>
                            {% else %}
                            No description
                            {% endif %}
                        </div>
                        <div class="instruction-list">
                            <h3>Instructions</h3>
                            <ul>
                                {%if recipe.instructions%}
                                    {%for instruction in  recipe.instructions%}
                                    <li>
                                            {%if instruction.position < 10 %}
                                            <span>0{{instruction.position}}.</span>
                                            {% else %}
                                            <span>{{instruction.position}}.</span>
                                            {% endif %}
                                            {{instruction.display_text}}
                                    </li>
                                    {% endfor %}
                                {% else %}
                                    No instructions
                                {% endif %}
                            </ul>
                        </div>
                        {%if recipe.original_video_url%}
                        <div id="video" class="notes">
                            <h3><i class="fa fa-play-circle"></i>&nbsp;Video</h3>
                            <div class="notes-item">
                                <div class="set-bg" style="background-color:#F5F6FA;padding:0px;" data-setbg="{{recipe.thumbnail_url}}">
                                    <div style="width:100%;backdrop-filter: blur(5px);">
                                        <video style="width:100%;height:500px"  controls>
                                            <source src="{{recipe.original_video_url}}" type="video/mp4">
                                            <source src="{{recipe.original_video_url}}" type="video/ogg">
                                        Your browser does not support the video tag.
                                        </video>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
<!---balise print pdf-->
</div>
<!---end balise print pdf-->

<!-- Single Recipe Section End -->
 <!-- Modal alert -->
<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold" id="alertModalLabel"><img alt="" height="50" width="50" src="{{url_for('static',filename='images/apple-touch-icon.png')}}">&nbsp;INFO</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-white" style="background-color: #343a40!important;">
            <div class="row contact-form">
                <div class="col-lg-12  text-center font-weight-bold">
                    <h4>You should be authenticated before using this feature.</h4>
                  </div>
            </div>
        </div>
        <div class="modal-footer" style="background-color: #343a40!important;">
            
          </div>
      </div>
    </div>
  </div>
  <!-- End Modal alert -->


{% endblock %}

{% block scripts %}
   <!--  $('#link_recipes').toggleClass('active'); -->
    $('#back').on('click', function(){
        history.back();
    });
   
{% endblock %}