<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="152x152" href="{{url_for('static',filename='images/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static',filename='images/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static',filename='images/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static',filename='images/site.webmanifest')}}">
    <link rel="mask-icon" href="{{url_for('static',filename='images/safari-pinned-tab.svg')}}" color="#e59038">
    <meta name="msapplication-TileColor" content="#e59038">
    <meta name="theme-color" content="#ffffff">
     <!-- Google Font -->
     <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;display=swap" rel="stylesheet">
     <!-- Css Styles -->
     <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}" type="text/css">
     <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}" type="text/css">
     <link rel="stylesheet" href="{{url_for('static',filename='css/nice-select.css')}}" type="text/css">
     <link rel="stylesheet" href="{{url_for('static',filename='css/slicknav.min.css')}}" type="text/css">
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css">
     <link rel="stylesheet" href="{{url_for('static',filename='css/pagination.css')}}" type="text/css">
     <link rel="stylesheet" href="{{url_for('static',filename='css/card_slider.css')}}" type="text/css">

      <!--Social Buttons for Bootstrap-->
     <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-social.css')}}" rel="stylesheet" >
     <title>{% block title %} {% endblock %} - Quick Recipe</title>
</head>
<body>
    <!--Define javascript url with Flask url_for-->
    <div id="url-post" data-url-post="{{url_for('search.recipes_item')}}"></div>
    <div id="url-callback" data-url-callback="{{url_for('search.recipes_details')}}"></div>
    <div id="logout-url" data-logout-url="{{ url_for('auth.logout') }}"></div>
    <div id="home-url" data-home-url="{{ url_for('main.index') }}"></div>
    <div id="auth-url" data-auth-url="{{ url_for('auth.authentication') }}"></div>
    <div id="pin-url" data-pin-url="{{ url_for('main.add_pin') }}"></div>
    <div id="edit-user-info-url" data-edit-user-info-url="{{ url_for('main.user_edit_info') }}"></div>
    <div id="user-check-current-pass-url" data-user-check-current-pass-url="{{ url_for('main.user_check_current_pass') }}"></div>
    <div id="edit-user-password-url" data-edit-user-password-url="{{ url_for('main.user_save_password') }}"></div>
    <div id="delete-user-account-url" data-delete-user-account-url="{{ url_for('main.user_delete_account') }}"></div>

    <div id="app-bootstrap-css-url" data-app-bootstrap-css-url="{{url_for('static',filename='css/bootstrap.min.css')}}"></div>
    <div id="app-main-css-url" data-app-main-css-url="{{url_for('static',filename='css/style.css')}}"></div>
    <!--End Define javascript url with Flask url_for-->

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
       <!-- Header Section Begin -->
       <header class="header-section-other">
        <div class="container-fluid">
            <div class="logo">
                <a href="{{ url_for('main.index') }}"><img src="{{url_for('static',filename='images/quick-recipe-logo.png')}}" style="height: 50px;" alt=""></a>
            </div>
            <div class="nav-menu">
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li id="link_home"><a href="{{ url_for('main.index') }}"><i class="fa fa-rss" style="font-size: large;"></i>&nbsp;Feed</a></li>
                        <li id="link_recipes"><a href="{{ url_for('search.recipes') }}"><i class="fa fa-list-alt" style="font-size: large;"></i>&nbsp;Recipes</a></li>
                        {% if not g.user %}
                        <li id="link_auth"><a href="{{ url_for('auth.authentication') }}"><i class="fa fa-user" style="font-size: large;"></i>&nbsp;Log in - Sign up</a></li>
                        {% else %}
                        <li id="link_favorite_recipes"><a href="{{ url_for('main.recipes_favorites') }}"><i class="fa fa-heart" style="font-size: large;"></i>&nbsp;Favorites</a></li>
                        {% if g.user.is_admin %}
                        <li id="link_subscribers"><a href="{{ url_for('main.get_subscribers') }}"><i class="fa fa-list-ul" style="font-size: large;"></i>&nbsp;Subscribers</a></li>
                        {% endif %}
                        <li style="cursor: pointer;font-size: large"><img class="rounded-circle" width="35" height="35" alt="icon" src="{% if g.user.is_oauth %}{{g.user.oauth_profile_url}}{% else %}{{url_for('static',filename='images/user.png')}}{% endif %}"/>&nbsp;&nbsp;<b>{{ g.user.first_name}}</b>
                            <ul class="sub-menu">
                                <li><a href="{{ url_for('main.user_profile') }}"><i class="fa fa-user"></i>&nbsp;&nbsp;Profile</a></li>
                                <li><a class="logout" href="#"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Sign out</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->
    <div class="spad-mid"><hr class="hr-line"></div>
    <!--flash message-->
    <div class="text-center">
        {% for type, msg in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ type }} alert-dismissible alert-sm m-2" role="alert" style="height: 30%;">
            <div >{{ msg }}</div>
       </div>
        {% endfor %}
    </div>
     <!--End flash message-->
    {% from "macros/_render_field.html" import render_field_search_form %}
    {% block content %} {% endblock %}
   
     <!-- Footer Section Begin -->
     <footer class="footer-section bg-dark">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-5">
                    <div class="fs-left">
                        <div class="logo">
                            <a href="{{ url_for('main.index') }}">
                                <img src="{{url_for('static',filename='images/logo-footer.png')}}" style="height: 90px;" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="social-links" align="center">
                        <a  href="https://www.linkedin.com/in/doumbiamouhamed/" target="_blank"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                        <a href="https://github.com/doumbiasoft" target="_blank"><i class="fa fa-github"></i><span>GitHub</span></a>
                        <button id="scrollToTopBtn"><i class="fa fa-arrow-circle-o-up fa-2x"></i></button>
                    </div>
                   
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">Copyright &copy;<script>document.write(new Date().getFullYear());</script> - <a  href="https://www.linkedin.com/in/doumbiamouhamed/" target="_blank"><span>Mouhamed Doumbia</span></a>, All rights reserved 
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{{url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.slicknav.js')}}"></script>
    <script src="{{url_for('static',filename='js/mixitup.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.nice-select.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/axios.js')}}"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
    <script src="{{url_for('static',filename='js/pagination.js')}}"></script>
    <script src="{{url_for('static',filename='js/card_slider.js')}}"></script>
    <script>{% block scripts %}{% endblock %}</script>
</body>
</html>